################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/WebApplication1/bin/Debug/net8.0
/WebApplication1/obj/Debug/net8.0
/WebApplication1/obj/project.assets.json
/WebApplication1/obj/project.nuget.cache
/WebApplication1/obj/WebApplication.csproj.nuget.dgspec.json
/WebApplication1/obj/WebApplication.csproj.nuget.g.props
/WebApplication1/obj/WebApplication.csproj.nuget.g.targets
/WebApplication1/obj/WebApplication1.csproj.nuget.dgspec.json
/WebApplication1/obj/WebApplication1.csproj.nuget.g.props
/WebApplication1/obj/WebApplication1.csproj.nuget.g.targets
/EntityFramework/obj/Debug/net8.0
/EntityFramework/obj
/EntityFramework/bin/Debug/net8.0
/Entites/obj/Debug/net8.0
/Entites/obj/Entites.csproj.nuget.dgspec.json
/Entites/obj/Entites.csproj.nuget.g.props
/Entites/obj/Entites.csproj.nuget.g.targets
/Entites/obj/project.assets.json
/Entites/obj/project.nuget.cache
/Entites/bin/Debug/net8.0
/Contracts/obj/Debug/net8.0
/Contracts/obj/Contracts.csproj.nuget.dgspec.json
/Contracts/obj/Contracts.csproj.nuget.g.props
/Contracts/obj/Contracts.csproj.nuget.g.targets
/Contracts/obj/project.assets.json
/Contracts/obj/project.nuget.cache
/Contracts/bin/Debug/net8.0
